<h1>Start a New Story</h1>
<hr />
<div class="row">
  <div class="large-8 columns">
    <%= render 'form' %>
  </div>
  <div class="large-4 columns">
    <%= render 'friends_list' %>
  </div>
</div>

<%= link_to 'Back', stories_path, class: "button small disableHoverColor secondary" %>
