// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.friends_list{
  height: 300px;
  overflow:auto;
 }
 table tbody tr td.story_index{
    max-height: 50px; 
    max-width: 100px; 
 }
